name: Build Electron App

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: [20]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install Node dependencies
        run: npm install
        working-directory: electron

      - name: Install Electron dependencies
        run: npm ci
        working-directory: electron

      - name: Install Frontend dependencies
        run: npm ci
        working-directory: Frontend

      - name: Build Frontend
        run: npm run build
        working-directory: Frontend

      - name: Build Electron App
        run: npm run build
        working-directory: electron

      - name: Upload binaries to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            electron/dist_electron/**/Musicyc*.Setup*.exe
            electron/dist_electron/**/Musicyc*.dmg
            electron/dist_electron/**/Musicyc*.AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}